@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Noto Serif TC', serif;
  margin: 0;
  background-color: #F7F2EE;

  @apply tracking-normal leading-normal;
}

.title-line {
  @apply before:content-[''] before:border-l-4 before:h-full before:mr-3 before:border-primary-100 before:border-solid;
}

.ant-select-selector {
  border-radius: 8px !important;
}

a {
  color: #BF9D7D;
}

.ant-divider-horizontal {
  height: 2px;
  /* Altura da linha */
  background: linear-gradient(to right, #BE9C7C, #FFFFFF);
  /* Degradê horizontal de vermelho a azul */
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  background: #364d79;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}


.ant-carousel .slick-slide h3 {
  color: #fff;
  margin: 24px;
}


.ant-carousel .slick-next {
  margin-right: 50px;
}

.ant-card .ant-card-body {
  padding: 0px;
  background-color: white;
}

.ant-carousel .slick-prev {
  margin-left: 50px;
  z-index: 9;

}