@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Noto Serif TC', serif;
  margin: 0;
  background-color: #F7F2EE;

  @apply tracking-normal leading-normal;
}

.ant-select-selector {
  border-radius: 8px !important;
}

a {
  color: #BF9D7D;
}