/* .ant-divider-horizontal {
    height: 2px;
    background: linear-gradient(to right, #BE9C7C, #FFFFFF);
} */

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 234px;
  }
}

.ant-carousel .slick-slide h3 {
  color: #fff;
  margin: 24px;
}

.ant-carousel .slick-next {
  margin-right: 50px;
}

.ant-carousel .slick-prev {
  margin-left: 50px;
  z-index: 9;
}


.ant-card .ant-card-body {
  padding: 0px;
  background-color: white;
}



.ant-picker-dropdown .ant-picker-panel-container {
  margin-top: -120px;
}